<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Split Disease Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spot.css') }}">
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body{
        background-color: rgb(186, 233, 223);
      }
    </style>
</head>
<body>   
<div class="container col-xxl-8 px-1 py-1">
    <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='images/split.jpg') }}" id="box" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400px" height="100px" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" id="special"> Split Disease Details</h1>
            <p class="lead">
                <h3>Disease Symptoms:</h3>
                <ul>
                    <li>Yellowing: Premature yellowing of nuts when they are half to three-quarters mature</li>
                    <li>Splitting: Nuts splitting from either side or the tips, expanding longitudinally towards the calyx and exposing the kernel</li>
                </ul>
        
                <h3>Management</h3>
                <ul>
                    <li>Improving drainage in areas with high water tables</li>
                    <li>praying Borax at a rate of 2g/l per palm during the early stages of the problem. </li>
                </ul>
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{{ url_for('home') }}">Go back</a>
            </div>
        </div>
    </div>
</div>
<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
